In [2]:
import pandas as pd
import os

In [3]:
csv_list = os.listdir('/users/sarah/onedrive/documents/boot camp/7.tableau/homework/resources/trip_data/2018')
df_list = []
for csv in csv_list:
    filepath = 'trip_data/2018/' + csv
    dataframe = pd.read_csv(filepath)
    df_list.append(dataframe)

In [4]:
frame = pd.concat(df_list, axis=0, ignore_index=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [24]:
frame.to_csv('/users/sarah/onedrive/documents/boot camp/7.tableau/homework/resources/trip_data/2018/2018-citibike-tripdata.csv')

KeyboardInterrupt:

In [5]:
frame.head()

,Unnamed: 0,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,0.0,31956,1992,505.0,40.749013,-73.988484,6 Ave & W 33 St,1,72.0,40.767272,-73.993929,W 52 St & 11 Ave,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,970,Subscriber
1,1.0,32536,1969,3255.0,40.750585,-73.994685,8 Ave & W 31 St,1,72.0,40.767272,-73.993929,W 52 St & 11 Ave,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,723,Subscriber
2,2.0,16069,1956,525.0,40.755942,-74.002116,W 34 St & 11 Ave,1,72.0,40.767272,-73.993929,W 52 St & 11 Ave,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,496,Subscriber
3,3.0,31781,1974,447.0,40.763707,-73.985162,8 Ave & W 52 St,1,72.0,40.767272,-73.993929,W 52 St & 11 Ave,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,306,Subscriber
4,4.0,30319,1992,3356.0,40.774667,-73.984706,Amsterdam Ave & W 66 St,1,72.0,40.767272,-73.993929,W 52 St & 11 Ave,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,306,Subscriber

In [6]:
starts = frame[['start station name', 'start station latitude', 'start station longitude']].rename(index=str, columns={'start station name':'station name', 'start station latitude':'station latitude', 'start station longitude':'station longitude'})
ends = frame[['end station name', 'end station latitude', 'end station longitude']].rename(index=str, columns={'end station name':'station name', 'end station latitude':'station latitude', 'end station longitude':'station longitude'})
locations = [starts, ends]

In [7]:
locations_groupby=pd.concat(locations, sort=False).groupby('station name')
locations_coordinates = locations_groupby.mean()
locations_uses = locations_groupby.count().rename(index=str, columns={'station latitude':'use_count'})
locations_coordinates['use_count'] = locations_uses['use_count']
#locations_coordinates.to_csv('/users/sarah/onedrive/documents/boot camp/7.tableau/homework/resources/locations.csv', index=True)

,station latitude,station longitude,use_count
station name,,,
1 Ave & E 110 St,40.792327,-73.938300,21911
1 Ave & E 16 St,40.732219,-73.981656,136173
1 Ave & E 18 St,40.733812,-73.980544,96370
1 Ave & E 30 St,40.741444,-73.975361,85308
1 Ave & E 44 St,40.750020,-73.969053,59325
1 Ave & E 62 St,40.761227,-73.960940,80274
1 Ave & E 68 St,40.765005,-73.958185,115653
1 Ave & E 78 St,40.771404,-73.953517,77486
1 Ave & E 94 St,40.781721,-73.945940,29967
1 Pl & Clinton St,40.680959,-73.999057,17896
10 Hudson Yards,40.752957,-74.002640,9026
10 St & 5 Ave,40.668627,-73.987001,13020
10 St & 7 Ave,40.666208,-73.981999,19084
11 Ave & W 27 St,40.751396,-74.005226,116456
11 Ave & W 41 St,40.760301,-73.998842,93366
11 Ave & W 59 St,40.771521,-73.990536,90642
11 St & 35 Ave,40.762744,-73.939114,2439
11 St & 43 Ave,40.751907,-73.947912,2273
12 Ave & W 40 St,40.760875,-74.002777,167477
12 St & 4 Ave,40.668603,-73.990439,9767
14 St & 5 Ave,40.666287,-73.988951,20931
14 St & 7 Ave,40.663779,-73.983968,19880
19 St & 24 Ave,40.777455,-73.922540,10378
2 Ave & 36 St - Citi Bike HQ at Industry City,40.657089,-74.008702,16854
2 Ave & 9 St,40.672481,-73.993314,8642
2 Ave & E 104 St,40.789210,-73.943708,20936
2 Ave & E 122 St,40.800672,-73.934900,7622
2 Ave & E 31 St,40.742909,-73.977061,94759
2 Ave & E 55 St,40.757920,-73.966382,26234
2 Ave & E 96 St,40.783964,-73.947167,48328
...,...,...,...
Warren St,40.721124,-74.038051,2
Warren St & Church St,40.714740,-74.009106,6842
Warren St & Court St,40.686371,-73.993833,24777
Washington Ave & Greene Ave,40.686501,-73.965633,20210
Washington Ave & Park Ave,40.696102,-73.967510,28687
Washington Park,40.691782,-73.973730,23223
Washington Pl & 6 Ave,40.732241,-74.000264,62709
Washington Pl & Broadway,40.729039,-73.994046,81474
Washington St,40.724294,-74.035483,3
Washington St & Gansevoort St,40.739323,-74.008119,119745
Water - Whitehall Plaza,40.702551,-74.012723,41086
Watts St & Greenwich St,40.724055,-74.009660,72958
West Drive & Prospect Park West,40.661063,-73.979453,52668
West End Ave & W 107 St,40.802117,-73.968181,25429
West End Ave & W 94 St,40.794165,-73.974124,30003
West St & Chambers St,40.717548,-74.013221,193889
West Thames St,40.708347,-74.017134,77647
William St & Pine St,40.707179,-74.008873,42136
Willoughby Ave & Hall St,40.691960,-73.965369,31167
Willoughby Ave & Tompkins Ave,40.694254,-73.946269,10374
Willoughby Ave & Walworth St,40.693317,-73.953820,11162
Willoughby St & Fleet St,40.691966,-73.981302,52081
Wolcott St & Dwight St,40.675327,-74.010070,5528
Wyckoff St & 3 Ave,40.682755,-73.982586,19658
Wyckoff St & Bond St,40.684617,-73.987213,134
Wythe Ave & Metropolitan Ave,40.716887,-73.963198,69102
Yankee Ferry Terminal,40.686931,-74.016966,15708
York St,40.716490,-74.041050,2
York St & Jay St,40.701485,-73.986569,6190
old - E 13 St & Avenue A,40.729554,-73.980572,5162

In [13]:
starts_groupby=starts.groupby('station name')
starts_coordinates = starts_groupby.mean()
starts_uses = starts_groupby.count().rename(index=str, columns={'station latitude':'use_count'})
starts_coordinates['use_count'] = starts_uses['use_count']
starts_coordinates.to_csv('/users/sarah/onedrive/documents/boot camp/7.tableau/homework/resources/starts.csv')
starts_coordinates.head()

                  station latitude  station longitude  use_count
station name
1 Ave & E 110 St         40.792327         -73.938300      21153
1 Ave & E 16 St          40.732219         -73.981656     131411
1 Ave & E 18 St          40.733812         -73.980544      93940
1 Ave & E 30 St          40.741444         -73.975361      83247
1 Ave & E 44 St          40.750020         -73.969053      57684

In [14]:
ends_groupby=ends.groupby('station name')
ends_coordinates = ends_groupby.mean()
ends_uses = ends_groupby.count().rename(index=str, columns={'station latitude':'use_count'})
ends_coordinates['use_count'] = ends_uses['use_count']
ends_coordinates.to_csv('/users/sarah/onedrive/documents/boot camp/7.tableau/homework/resources/ends.csv')
ends_coordinates.head()

                  station latitude  station longitude  use_count
station name
1 Ave & E 110 St         40.792327         -73.938300      21451
1 Ave & E 16 St          40.732219         -73.981656     133781
1 Ave & E 18 St          40.733812         -73.980544      93775
1 Ave & E 30 St          40.741444         -73.975361      83286
1 Ave & E 44 St          40.750020         -73.969053      58065